body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0%;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
    border-radius: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the content */
}

h1 {
    color: #000; /* Set text color to black */
    font-size: 3em; /* Make the text larger */
    margin-bottom: 20px; /* Add space below the heading */
}

p {
    color: #000; /* Set text color to black */
    font-size: 1.2em; /* Adjust text size */
    margin-bottom: 10px; /* Add space below paragraphs */
}

input[type="text"] {
    width: calc(80%);
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
    cursor: pointer; /* Add cursor pointer on hover */
}

/* Additional styles for index.html background */
body {
    background: url('Pinkg.jpeg') repeat;
    background-size: cover; /* Ensure the background covers the entire screen */
    background-attachment: fixed; /* Fix the background to maintain its position during scrolling */
    color: #000; /* Set text color to black for better visibility */
}

/* Adjustments for smaller screens */
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
    
    h1 {
        font-size: 2.5em;
        margin-bottom: 10px;
    }
    
    p {
        font-size: 1em;
        margin-bottom: 5px;
    }
}

